In [10]:
#%pip install pandas
import pandas as pd
import string

In [8]:
df = pd.read_csv("unigram_freq.csv")
df.head()

  word        count
0  the  23135851162
1   of  13151942776
2  and  12997637966
3   to  12136980858
4    a   9081174698

In [9]:
filtered_df = df[df['word'].str.len() == 5]
filtered_df.head()

     word       count
35  about  1226734006
45  other   978481319
56  which   810514085
57  their   782849411
62  there   701170205

In [12]:
# Initialize a list of all lowercase letters
all_letters = list(string.ascii_lowercase)
grey_letters = []
yellow_letters = []
green_letters = []
guessed_words = []

In [ ]:
#current_game class?
    #could be good for deep calculations down the line

In [16]:
#worst first guess tech of all time
def guess(
    # all_words,
    # pruned_words,
    # all_letters,
    # grey_letters,
    # yellow_letters,
    # green_letters,
    # guessed_words,
):
    # Find the index of the row with the highest count
    max_count_index = filtered_df['count'].idxmax()

    # Retrieve the word with the highest count
    word_with_highest_count = filtered_df.loc[max_count_index, 'word']

    return word_with_highest_count

In [17]:
print(guess())

about

In [ ]:
#functions needed

#guess (all info) -> optimal word to guess
#process_guess(returned info) -> update all arrays
#helper functions to update all arrays and calculate behind the scenes
#
#